<div class="list-container">

  <div class="header-row">
    <h2>Disponibilidad de profesionales</h2>

    <button class="btn-primary" mat-button routerLink="news">
      <mat-icon>add</mat-icon>
      Nueva disponibilidad
    </button>
  </div>

  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="custom-table mat-elevation-z8">

      <!-- ID -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let d">{{ d.disponibilidadId }}</td>
      </ng-container>

      <!-- Día de semana -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Día</th>
        <td mat-cell *matCellDef="let d">
          {{ d.diaSemana }}
        </td>
      </ng-container>

      <!-- Hora inicio -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Hora inicio</th>
        <td mat-cell *matCellDef="let d">
          {{ d.horaInicio }}
        </td>
      </ng-container>

      <!-- Hora fin -->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Hora fin</th>
        <td mat-cell *matCellDef="let d">
          {{ d.horaFin }}
        </td>
      </ng-container>

      <!-- Editar -->
      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let d">
          <button class="btn-edit" mat-icon-button [routerLink]="['edits', d.disponibilidadId]">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Eliminar -->
      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let d">
          <button class="btn-delete" mat-icon-button (click)="eliminar(d.disponibilidadId)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
  </div>
</div>
