<div class="list-container">

  <div class="header-row">
    <h2>Profesionales y servicios</h2>

    <button class="btn-primary" mat-button routerLink="news">
      <mat-icon>add</mat-icon>
      Nuevo profesional / servicio
    </button>
  </div>

  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="custom-table mat-elevation-z8">

      <!-- ID -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let p">{{ p.idProfesionalServicio }}</td>
      </ng-container>

      <!-- Nombre -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let p">
          {{ p.nombre }}
        </td>
      </ng-container>

      <!-- Duración -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Duración (min)</th>
        <td mat-cell *matCellDef="let p">
          {{ p.duracionMin }}
        </td>
      </ng-container>

      <!-- Precio -->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Precio base</th>
        <td mat-cell *matCellDef="let p">
          S/ {{ p.precioBase }}
        </td>
      </ng-container>

      <!-- Disponibilidad -->
      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>ID Disponibilidad</th>
        <td mat-cell *matCellDef="let p">
          {{ p.idDisponibilidad }}
        </td>
      </ng-container>

      <!-- Usuario -->
      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>ID Usuario</th>
        <td mat-cell *matCellDef="let p">
          {{ p.idUsuario }}
        </td>
      </ng-container>

      <!-- Editar -->
      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let p">
          <button class="btn-edit" mat-icon-button [routerLink]="['edits', p.idProfesionalServicio]">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Eliminar -->
      <ng-container matColumnDef="c8">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let p">
          <button class="btn-delete" mat-icon-button (click)="eliminar(p.idProfesionalServicio)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
  </div>
</div>
