<div class="container">
  @if(verificar()){
  <mat-toolbar class="custom-toolbar">

    <!-- HOME -->
    <button mat-button [routerLink]="['/inicio']" class="btn-rojo">
      <mat-icon>home</mat-icon>Inicio
    </button>

    <!-- ADMIN -->
    @if(isAdmin()){
    <button mat-button class="btn-rojo" [matMenuTriggerFor]="menuUsuarios">
      <mat-icon>person</mat-icon>Usuarios
    </button>

    <button mat-button class="btn-rojo" [matMenuTriggerFor]="menuRoles">
      <mat-icon>security</mat-icon>Roles
    </button>
    }

    <!-- PROFESIONAL -->
    @if(isProfesional()){
    <button mat-button class="btn-rojo" [matMenuTriggerFor]="menuDisponibilidad">
      <mat-icon>schedule</mat-icon>Disponibilidad
    </button>
    }

    <!-- PACIENTE -->
    @if(isPaciente()){
    <button mat-button class="btn-rojo" [matMenuTriggerFor]="menuMetodoPago">
      <mat-icon>credit_card</mat-icon>Métodos de pago
    </button>
    }

    <!-- EVENTOS (cualquier rol) -->
    <button mat-button class="btn-rojo" [matMenuTriggerFor]="menuEventos">
      <mat-icon>event</mat-icon>Eventos
    </button>

    <span class="spacer"></span>

    <!-- USUARIO -->
    <button mat-button [matMenuTriggerFor]="menuSalir">
      <mat-icon>person</mat-icon>Cuenta
    </button>

  </mat-toolbar>
  }

  <!-- SUBMENÚS -->
  <mat-menu #menuUsuarios="matMenu">
    <button mat-menu-item routerLink="/usuarios"><mat-icon>list</mat-icon>Listar</button>
    <button mat-menu-item routerLink="/usuarios/news"><mat-icon>add</mat-icon>Registrar</button>
  </mat-menu>

  <mat-menu #menuRoles="matMenu">
    <button mat-menu-item routerLink="/roles"><mat-icon>list</mat-icon>Listar</button>
    <button mat-menu-item routerLink="/roles/news"><mat-icon>add</mat-icon>Registrar</button>
  </mat-menu>

  <mat-menu #menuDisponibilidad="matMenu">
    <button mat-menu-item routerLink="/disponibilidades"><mat-icon>list</mat-icon>Listar</button>
    <button mat-menu-item routerLink="/disponibilidades/news"><mat-icon>add</mat-icon>Registrar</button>
  </mat-menu>

  <mat-menu #menuMetodoPago="matMenu">
    <button mat-menu-item routerLink="/metodopagos"><mat-icon>list</mat-icon>Listar</button>
    <button mat-menu-item routerLink="/metodopagos/news"><mat-icon>add</mat-icon>Registrar</button>
  </mat-menu>

  <mat-menu #menuEventos="matMenu">
    <button mat-menu-item routerLink="/eventos"><mat-icon>list</mat-icon>Listar</button>
    <button mat-menu-item routerLink="/eventos/news"><mat-icon>add</mat-icon>Registrar</button>
  </mat-menu>

  <!-- SALIR -->
  <mat-menu #menuSalir="matMenu">
    <button mat-menu-item routerLink="/landing" (click)="cerrar()">
      <mat-icon>logout</mat-icon>Cerrar sesión
    </button>
    <!-- Mostramos roles unidos por ' | ' -->
    <button mat-menu-item disabled>
      <span style="font-size: 0.8em;">Roles: {{ roles.join(' | ') }}</span>
    </button>
  </mat-menu>
</div>