<div class="page-wrapper">
  
  <div class="register-card">
    
    <div class="card-header">
      <h2>{{ edicion ? 'Editar Rol' : 'Asignar Rol' }}</h2>
      <p class="subtitle">Configura los permisos de acceso.</p>
    </div>

    <form [formGroup]="form" (submit)="aceptar()">

      <div class="input-group">
        <label class="field-label">Usuario</label>
        <mat-form-field appearance="outline" class="custom-input no-bottom-space">
          <mat-icon matPrefix class="prefix-icon">person</mat-icon>
          <mat-select formControlName="idUsuario" 
                      placeholder="Selecciona un usuario" 
                      (selectionChange)="detectarRoles($event.value)">
            <mat-option *ngFor="let u of usuarios" [value]="u.idUsuario">
              {{ u.nombre }} {{ u.apellido }} ({{ u.email }})
            </mat-option>
          </mat-select>
          @if (form.get('idUsuario')?.hasError('required')) {
            <mat-error>Requerido</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="input-group">
        <label class="field-label">Rol a Asignar</label>
        
        <div class="chips-grid">
          @for (rol of rolesDisponibles; track rol) {
            <div 
              class="role-card" 
              [class.selected]="isSelected(rol)"
              (click)="toggleRol(rol)">
              
              <div class="icon-box" [ngClass]="rol.toLowerCase()">
                 @if (rol === 'ADMIN') { <mat-icon>security</mat-icon> }
                 @if (rol === 'PROFESIONAL') { <mat-icon>medical_services</mat-icon> }
                 @if (rol === 'PACIENTE') { <mat-icon>person</mat-icon> }
              </div>
              
              <div class="role-info">
                  <span class="role-name">{{ rol | titlecase }}</span>
              </div>

              <div class="check-circle" *ngIf="isSelected(rol)">
                  <mat-icon>check</mat-icon>
              </div>
            </div>
          }
        </div>
      </div>

      <div class="actions-container">
        <button type="button" class="btn-secondary" (click)="cancel()">
          Cancelar
        </button>
        
        <button type="submit" class="btn-primary" [disabled]="form.invalid && !edicion">
          Guardar Cambios
        </button>
      </div>

    </form>
  </div>
</div>