<div class="form-container">
  <div class="form-card">

    <h2 class="form-title">
      {{ edicion ? 'Editar Perfil Profesional' : 'Crear Perfil Profesional' }}
    </h2>

    <form [formGroup]="form" (submit)="aceptar()" class="form-body">

      <mat-form-field appearance="outline">
        <mat-label>Nombre del Servicio</mat-label>
        <input matInput formControlName="nombre" placeholder="Ej: Consulta Psicológica" required />
        @if (form.get('nombre')?.hasError('required')) {
          <mat-error>Requerido</mat-error>
        }
      </mat-form-field>

      <div style="display: flex; gap: 10px;">
        <mat-form-field appearance="outline" style="flex: 1;">
          <mat-label>Duración (min)</mat-label>
          <input matInput type="number" formControlName="duracionMin" required />
        </mat-form-field>

        <mat-form-field appearance="outline" style="flex: 1;">
          <mat-label>Precio (S/)</mat-label>
          <input matInput type="number" formControlName="precioBase" required />
        </mat-form-field>
      </div>

      <div [hidden]="true">
          <input matInput formControlName="idUsuario" />
      </div>

      <button mat-raised-button color="primary" class="btn-submit" [disabled]="form.invalid">
        {{ edicion ? 'Actualizar' : 'Guardar Perfil' }}
      </button>
    </form>
  </div>
</div>